* {
    margin: 0;
    font-family: Arial;
    border: border-box;
    /* border must be in the div size*/
}

/*navigation bar*/
.navbar {
    height: 52px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*box1 */
.nav-logo {
    height: 48px;
    width: 114px;
}

.logo {
    height: 48px;
    width: 114px;
    background-image: url("amazon-logo-cover.png");
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/*box2 */

.add1 {
    color: #CCCCCC;
    font-size: 0.8rem;

    margin-left: 20px;
}

.add2 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

.add-icon {
    display: flex;
    align-items: center;
}

/*box3  */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 825px;
    background-color: aqua;
    border-radius: 4px;
}

.nav-search:hover {
    border: 3px solid #f8bd68;
}

.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 55px;
    text-align: center;
    background-color: #E6E6E6;
    color: #0f1111;
    border: none;
    padding-left: 4px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    /* justify content for give center posttion horizontally accr. to root*/
    align-items: center;
    /* align items for give center posttion vertically accr. to root*/
    font-size: 1.4rem;
    background-color: #f8bd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/*box4  */
/*.nav-country{
    height:50px;
    width: 70px;
    background-color: white;
}*/

/*box5*/

span {
    font-size: 0.8rem;
    ;
}

.nav2 {
    font-size: 1rem;
    font-weight: bold;
}

/*box6*/

span {
    font-size: 0.8rem;
    ;
}

.nav2 {
    font-size: 1rem;
    font-weight: 700px;
}

/*box7*/

.nav-cart i {
    font-size: 30px;
    font-weight: bold;
}

/*panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    font-weight: bold;
}

.panel-ops {
    width: 92%;
    font-size: 0.85rem;
}

.panel-all {
    font-weight: bolder;
}

/*hero section */

.hero-section {
    height: 300px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

/*hero message*/

.hero-message {
    height: 40px;
    width: 96%;
    background-color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    ;
}

.click {
    text-decoration: none;
    color: #2162A1;
}

.click:hover {
    text-decoration: underline;
    color: #222f3d;
}

/*shop section*/

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #d782f8;


}

.box {
    display: flex;
    height: 400px;
    width: 23%;
    /*border:2px solid black;*/

    background-color: white;
    padding: 20px 0px 15px;
    transition: transform 0.3s ease;
}

.box1-image {
    height: 304px;
    width: 300px;
    background-image: url("box_1.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    ;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.box-text {
    padding-top: 1.5rem;
    color: #2162A1;
}

.box-text:hover {
    color: #222f3d;
}

.box:hover {
    transform: translateY(-5px);

}

h3 {
    font-size: 20px;
}

.box2-image1 {
    height: 102px;
    width: 140px;
    background-image: url("cleaning_tools.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.1rem;
}

.box2-image2 {
    height: 102px;
    width: 140px;
    background-image: url("home_storage.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.box2-image3 {
    height: 102px;
    width: 140px;
    background-image: url("home_decor.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.1rem
}

.box2-image4 {
    height: 102px;
    width: 140px;
    background-image: url("bedding.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.content {
    height: 335px;
    display: flex;
    flex-wrap: wrap;
}

.content-message1 {
    font-size: 0.85rem;

}

.content-message2 {
    font-size: 0.85rem;
    margin-left: 5rem;
}

.content-message-new {
    font-size: 0.85rem;
    margin-left: 7rem;
}

.content-message-new1 {
    font-size: 0.85rem;
    margin-left: 7rem;
}

.box2-image5 {
    height: 102px;
    width: 140px;
    background-image: url("kitchen_&_Dining.jpg");
    background-size: fit;
    margin-top: 1rem;
    margin-left: 0.1rem;
}

.box2-image6 {
    height: 102px;
    width: 140px;
    background-image: url("Home_improvement.jpg");
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.content-message3 {
    font-size: 0.85rem;
    margin-left: 0.2rem;
}

.content-message4 {
    font-size: 0.85rem;
    margin-left: 3.75rem;
}

.box2-image7 {
    height: 102px;
    width: 140px;
    background-image: url("Decor.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.1rem
}

.box2-image8 {
    height: 102px;
    width: 140px;
    background-image: url("Bedding_&_Bath.jpg");
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.content-message5 {
    font-size: 0.85rem;
    margin-left: 0.2rem;
}

.content-message6 {
    font-size: 0.85rem;
    margin-left: 7.4rem;
}

.box2-image9 {
    height: 102px;
    width: 140px;
    background-image: url("jeans.jpg");
    background-size: fit;
    margin-top: 1rem;
    margin-left: 0.1rem;
}

.box2-image10 {
    height: 102px;
    width: 140px;
    background-image: url("tops.jpg");
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.box2-image11 {
    height: 102px;
    width: 140px;
    background-image: url("dresses.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.1rem
}

.box2-image12 {
    height: 102px;
    width: 140px;
    background-image: url("shoes.jpg");
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1.4rem
}

.content-message7 {
    font-size: 0.85rem;
    margin-left: 2.8rem;
}

/*shop section 2 */

.shop-section2 {
    background-color: #d782f8;
    height: 300px;

    display: flex;
    justify-content: center;

}

.product-box {
    height: 275px;
    width: 1465px;
    background-color: white;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}


.product-box-message {
    font-size: 21px;
    padding-left: 27px;
    padding-top: 20px;


}

.product-box-content {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

.product-box-image1 {
    width: 160px;
    height: 200px;
    background-image: url("image1.jpg");

    margin-top: 10px;

}

.product-box-image2 {
    width: 220px;
    height: 200px;
    background-image: url("image2.jpg");
    background-size: cover;
    margin-top: 10px;
}

.product-box-image3 {
    width: 160px;
    height: 200px;
    background-image: url("image3.jpg");

    margin-top: 10px;
}

.product-box-image4 {
    width: 160px;
    height: 200px;
    background-image: url("image4.jpg");

    margin-top: 10px;
}

.product-box-image5 {
    width: 160px;
    height: 200px;
    background-image: url("image5.jpg");

    margin-top: 10px;
}

.product-box-image6 {
    width: 160px;
    height: 200px;
    background-image: url("image6.jpg");
    background-size: cover;
    margin-top: 10px;
}

.product-box-image7 {
    width: 160px;
    height: 200px;
    background-image: url("image7.jpg");
    background-size: cover;
    margin-top: 10px;
}

/*section 3*/

.product-box-image8 {
    width: 220px;
    height: 200px;
    background-image: url("image8.jpg");

    margin-top: 10px;

}

.product-box-image9 {
    width: 190px;
    height: 200px;
    background-image: url("image9.jpg");
    background-size: cover;
    margin-top: 10px;

}

.product-box-image10 {
    width: 190px;
    height: 200px;
    background-image: url("image10.jpg");

    margin-top: 10px;

}

.product-box-image11 {
    width: 200px;
    height: 200px;
    background-image: url("image11.jpg");

    margin-top: 10px;

}

.product-box-image12 {
    width: 200px;
    height: 200px;
    background-image: url("image12.jpg");

    margin-top: 10px;

}

.product-box-image13 {
    width: 165px;
    height: 200px;
    background-image: url("image13.jpg");

    margin-top: 10px;

}

/* sign in*/

.sign-in {
    height: 160px;
    width: 1540px;
    padding-top: 25px;
}

.recommendation {
    height: 150px;

    /*background-color: #2162A1;*/
    border-top: 2px solid #ebe9e9;
    border-bottom: 2px solid #ebe9e9;


}

h2 {
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;

}

.sign-in-p {
    font-size: 0.75rem;
    padding-top: 5px;
}

.sign-in-a3 {

    color: #2162A1;
    padding-top: 5px;

}

.sign-in-a3:hover {

    color: #37475A;


}

.sign-in3 {
    height: 30px;
    width: 250px;
    background-color: #FFD814;

    text-align: center;
    padding-top: 8px;
    border-radius: 30px;

}

.sign-in3:hover {
    background-color: #f2d029;
}

/*footer part*/
footer {
    margin-top: 15px;
}

.foot-panel1 {

    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 40px;


}

ul p {
    font-weight: bold;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #DDDDDD;
}

.footer-panel-line {
    height: 400px;
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-line-link {
    height: 350px;
    width: 150px;

    text-decoration: none;

}

.panel-line-heading {
    color: #c3c3c3;
    font-size: 12px;
    font-weight: bold;
}

.panel-line-a {
    font-family: Arial;
    text-decoration: none;
}

.panel-line-a:hover {
    color: #DDDDDD;
    text-decoration: underline;
}

.panel-line-p {
    color: #abaaaa;
    font-size: 12px;
}

.foot-panel3 {
    height: 100px;
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid #706f6f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    height: 48px;
    width: 114px;
    background-image: url("Amazon-Symbol.jpg");
    background-size: cover;
}

.menu1 {
    height: 35px;
    width: 150px;
    border: 0.1px solid #706f6f;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;

}

.menu2 {
    height: 35px;
    width: 150px;
    border: 0.1px solid #706f6f;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.menu3 {
    height: 35px;
    width: 150px;
    border: 0.1px solid #706f6f;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.foot-panel4 {
    background-color: #131A22;
    color: #DDDDDD;
    font-size: 0.7rem;

    text-align: center;
    height: 78px;

}

.pages {
    font-weight: bold;
    padding-top: 25px;
    margin-right: 10px;
}

.copyright {

    padding-top: 5px;
}

.menu-click {
    text-decoration: none;
}

.menu-click:hover {
    text-decoration: underline;

}